@{
    ViewBag.Title = "About";
}

<Body>
    &nbsp;
    <h1 id="Alku" class="title" style="text-align:center;">About Us</h1>
    &nbsp;
    <hr width="100" size="1">
    &nbsp;
    <!-- --------------------------------------------- Content --------------------------------------------------------------- -->
    &nbsp;
    <p class="p" style="text-align:center;">
        Olemme Anu & Richard, suomalais-venezuelalainen pariskunta, terveys- ja
        hyvinvointialan ammattilaiset ja Luna Maman perustajat.
    </p>

    <p class="p" style="text-align:center;">
        Tuemme perheitä ainutlaatuisella matkalla vanhemmuuteen. Vuokraamme Elle
        TENS-laitteita synnytykseen ja muut Tuotteita.
    </p>

    <p class="p" style="text-align:center;">
        Tarjoamme palveluita suomeksi, englanniksi ja espanjaksi. Teemme
        kotikäyntejä pääkaupunkiseudulla..
    </p>
    &nbsp;
    <hr width="100" size="1">
    &nbsp;
    <p align="left" class="p" style="font-size:200%;">Miten voimme auttaa sinua?</p>

    <ul>
        <li class="p">
            Vuokraa meiltä Elle TENS-laite synnytykseen, gua sha -kampa tai Belly Bind -liina vatsan
            sitomiseen synnytyksen jälkeen.
        </li>
        <li class="p">
            Tarjoamme imetysohjausta kotikäynteinä äidin imetystoiveita kunnioittaen. Tukea saat kaikissa
            imetyksen vaiheissa.
        </li>
        <li class="p">Ohjaamme raskausjooga- tai äiti-vauvatunteja. Teemme henkilökohtaisia kotiohjelmia.</li>
        <li class="p">Valikoimassamme on raskaushierontaa, synnytyksen jälkeistä hierontaa sekä hoitoja isälle.</li>
        <li class="p">TULOSSA PIAN! Kauniit lahjakorttimme ilahduttavat tuoreita äitejä ja perheitä.</li>
    </ul>
    &nbsp;
</Body>
 
