@{
    ViewBag.Title = "Contact";
}


<body>
    
    <section>
        &nbsp;
        <h2 class="title" style="text-align:center;">Contacts</h2>
        <hr width="100" size="1">

        <article align="center">
            <figure>
                <nav>
                    &nbsp;
                    <a align="center"><img src="~/img/anu.png" alt="Tens Laitte" height=200></a>
                </nav>

            </figure>
            <p style="font-size:150%;">ANU TYVIJÄRVI</p>
            <p>+358 449764446</p>
            <p>Y-tunnus: xxxxx-xxx</p>
            <p>info@Luna-mama.com</p>
            <p>LUNA MAMA</p>
        </article>
        <hr width="2000" size="1">
        <article align="center">
            <figure>
                <nav>
                    &nbsp;
                    <a><img src="~/img/Richard.jpg" class="img-center" alt="Tens Laitte" height=200></a>
                </nav>
            </figure>
            <p style="font-size:150%;">RICHARD RICO</p>
            <p>+358 449764446</p>
            <p>Y-tunnus: xxxxx-xxx</p>
            <p>info@Luna-mama.com</p>
            <p>LUNA MAMA</p>
        </article>
    </section>
    <!-- --------------------------------------------------------------------------------------------------------------------- -->
    &nbsp;
    <hr width="100" size="1">
    <p align="center" class="p" style="font-size:200%;">Sijaintimme</p>
    &nbsp;
    <!-- ----------------------------------------------Map---------------------------------------------------------------- -->
    <div align="center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63506.281312278064!2d24.983726209928367!3d60.17127577770718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920eaf5e6a8edd%3A0x5dd12acd324d65d4!2sLaajasalo!5e0!3m2!1sen!2sfi!4v1636395734000!5m2!1sen!2sfi"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

</body>

